body {
    font-family: inherit;
    font-size: 18px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.title {
    margin-left: 20%;
    padding: 20px;
    font-style: unset;
    font-size: 25px;
    position: relative;
    top: 1%;
}
.area {
    outline: none;
    overflow: auto;
    margin-left: 20%;
}

.choose {
    position: relative;
    top: 70px;
}

.upload {
    position: relative;
    top: 100px;
}
.send {
    position: relative;
    top: 160px;
    background-color: #FF685A;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;

}
.text {
    padding: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
}


