html,body{
    width: 100%;
    height: 100%;
}
body{
  background-color:white; 
}
.div1{
position: absolute;
width: 671px;
height: 480px;
left: 415px;
top: 228px;

border: 1px solid #C4C4C4;
box-sizing: border-box;
}
.p1{
position: absolute;
width: 1140px;
height: 36px;
left: 156px;
top: 104px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 51px;
text-align: center;

color: #000000;

}
.p2{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p3{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 60px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p4{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 120px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p5{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 180px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p6{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 240px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p7{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 300px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p8{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 360px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.p9{
    position: absolute;
width: 263px;
height: 28px;
left: 0px;
top: 420px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;

color: #000000;
}
.hr1{
    position: absolute;
    top:60px;
    color: black;
    width: 668px;
    
}
.hr2{
    position: absolute;
    top:120px;
    color: black;
    width: 668px;
    
}
.hr3{
    position: absolute;
    top:180px;
    color: black;
    width: 668px;
    
}
.hr4{
    position: absolute;
    top:240px;
    color: black;
    width: 668px;
    
}
.hr5{
    position: absolute;
    top:300px;
    color: black;
    width: 668px;
    
}
.hr6{
    position: absolute;
    top:360px;
    color: black;
    width: 668px;
    
}
.hr7{
    position: absolute;
    top:420px;
    color: black;
    width: 668px;
    
}
.button1
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 8px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button2
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 73px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button3
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 133px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button4
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 193px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button5
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 253px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button6
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 313px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button7
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 373px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}
.button8
{
    position: absolute;
    width: 124px;
    height: 50px;
    left: 420px;
    top: 430px;
    background: #FF685A;
    border-radius: 4px;
    color:white;
}