body {
	background-color:white;
}
#fill {
	margin-top: 50px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 40pt;
	font-family: Arial, Helvetica, sans-serif

}
form {
	margin-top: 20px;
	padding: 50px;
	text-align: center;
}
label {
	display: inline-table;
	font-size: 12pt;
	text-align: left;
	opacity: 0.5;
	float: left;
	margin-left: 525px;
}
input[type=text], input[type=password] {
  width: 40%;
  padding: 12px 20px;
  margin: 10px ;
  display: inline-block;
  border: 1px solid #ccc;


}

.register {
  background-color: lightcoral;
  color: white;
  padding: 20px 25px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
  margin-top:50px;
  float: left;
  margin-left: -500px;
}

.register:hover {
  opacity: 0.8;
}
span.psw {
float : right;
padding-top: 16px;
}
.toggle {
  --uiToggleSize: var(--toggleSize, 20px);
  --uiToggleIndent: var(--toggleIndent, .4em);
  --uiToggleBorderWidth: var(--toggleBorderWidth, 2px);
  --uiToggleColor: var(--toggleColor, #000);
  --uiToggleDisabledColor: var(--toggleDisabledColor, #868e96);
  --uiToggleBgColor: var(--toggleBgColor, #fff);
  --uiToggleArrowWidth: var(--toggleArrowWidth, 2px);
  --uiToggleArrowColor: var(--toggleArrowColor, #fff);

  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 1;

}

.toggle__input {
  position: absolute;
  left: -99999px;

}

.toggle__label {
  display: inline-flex;
  cursor: pointer;
  min-height: var(--uiToggleSize);
  padding-left: calc(var(--uiToggleSize) + var(--uiToggleIndent));

}

.toggle__label:before, .toggle__label:after {
  content: "";
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  font-size: var(--uiToggleSize);

  position: absolute;
  left: 0;
  top: 0;
  font-size: 17pt;

  margin-top: 3.5px;
}

.toggle__label:before {
  border: var(--uiToggleBorderWidth) solid var(--uiToggleColor);
  z-index: 2;


}

.toggle__input:disabled ~ .toggle__label:before {
  border-color: var(--uiToggleDisabledColor);
}

.toggle__input:focus ~ .toggle__label:before {
  box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled):checked:focus ~ .toggle__label:after {
  box-shadow: 0 0 0 2px var(--uiToggleBgColor), 0 0 0px 4px var(--uiToggleColor);
}

.toggle__input:not(:disabled) ~ .toggle__label:after { 
  background-color: var(--uiToggleColor);
  opacity: 0;
}

.toggle__input:not(:disabled):checked ~ .toggle__label:after {
  opacity: 1;
}

.toggle__text {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20pt;
  margin-left: 10px;
}

/*
The arrow size and position depends from sizes of square because I needed an arrow correct positioning from the top left corner of the element toggle
*/

.toggle__text:before {
  content: "";
  box-sizing: border-box;
  width: 0;
  height: 0;
  font-size: var(--uiToggleSize);

  border-left-width: 0;
  border-bottom-width: 0;
  border-left-style: solid;
  border-bottom-style: solid;
  border-color: var(--uiToggleArrowColor);

  position: absolute;
  top: .5428em;
  left: .2em;
  z-index: 3;

  font-size: 18pt;
  transform-origin: left top;
  transform: rotate(-40deg) skew(10deg);
   margin-top: 3.5px;
}

.toggle__input:not(:disabled):checked ~ .toggle__label .toggle__text:before {
  width: .5em;
  height: .25em;
  border-left-width: var(--uiToggleArrowWidth);
  border-bottom-width: var(--uiToggleArrowWidth);
  will-change: width, height;
  transition: width .1s ease-out .2s, height .2s ease-out;
}
